
/* General card styling */
.article-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.articulos-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin: auto;
}

/* Header of the card */
.article-card-header {
  display: flex;
  justify-content: space-between; /* Alinea el título a la izquierda y la fecha a la derecha */
  align-items: center;
  margin-bottom: 10px;
}

/* Título principal */
.container .tituloPpal{
  font-size: 1.5em;
  gap: 20px;
  color: #007bff;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  margin: auto;
  background-color: aqua;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 20px;
}

.article-card-header h2 {
  color: #007bff;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}
.article-card-header img {
border-radius: 50px;
margin: 10px;
}

/* Fecha al lado derecho */
.article-date {
  font-size: 1.2em;
  color: #474646cb;
  white-space: nowrap; /* Evita que se divida la fecha en dos líneas */
}

/* Description styling */
.article-card-description p {
  font-size: 1em;
  color: #333;
  line-height: 1.5em;
}

/* Footer section */
.article-card-footer {
  display: flex;
  justify-content: space-between; /* Alinea los botones a la izquierda y el autor a la derecha */
  align-items: center;
  margin-top: 10px;
}


/* Buttons for edit/delete */
.article-actions {
  display: flex;
  gap: 10px;
}

.article-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #007bff;
  transition: color 0.3s ease;
}

/* Botón Editar */
.article-actions button.edit {
  color: orange; /* Color naranja para el botón de editar */
}

.article-actions button.edit:hover {
  color: rgb(124, 72, 8); /* Cambia el color al pasar el mouse */
}

/* Botón Borrar */
.article-actions button.delete {
  color: red; /* Color rojo para el botón de borrar */
}

.article-actions button.delete:hover {
  color: darkred; /* Cambia el color al pasar el mouse */
}

.article-actions button:hover {
  color: #0056b3;
}

/* Autor al lado derecho */
.article-author {
  font-size: 1.2em;
  color: #666;
  white-space: nowrap; /* Evita que se divida el autor en dos líneas */
}
